button {
    padding: 0;
    margin: 0;
    border: 0;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    gap: 10px;
    flex-flow: row wrap;
    border: 1px solid blue;
}

.display {
    background-color: #fff;
    width: 100%;
    margin-left: 35px;
}

.number-btn,
.operation-btn,
.clear-btn,
.equal-btn {
    width: 20%;
    height: 50px;
    background-color: gray;

}

#number-0 {
    width: 64%;
}

.clear-btn {
    width: 64%;
}

.operation-btn {
    background-color: yellow;
}