button {
    padding: 0;
    margin: 0;
    border: 0;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    gap: 8px;
    flex-flow: row wrap;
    border: 1px solid blue;
}

.display {
    background-color: rgb(183, 174, 174);
    width: 80%;
    height: 50px;
    font-size: 30px;
    text-align: end;
    padding-top: 20px;
    padding-right: 28px;
}

.number-btn,
.operation-btn,
.clear-btn,
.equal-btn {
    width: 20%;
    height: 50px;
    background-color: gray;

}

#number-0 {
    width: 64%;
}

.clear-btn {
    width: 64%;
}

.operation-btn {
    background-color: yellow;
}